.box {
  border: 10px solid #f5c518;
  border-radius: 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5c518;
}

.box.win {
  border: 10px solid green;
}

.box.lose {
  border: 10px solid red;
}

.box.tie {
  border: 10px solid black;
}

.item-img {
  width: 300px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 20px;
}

.btn {
  padding: 8px 16px;
  background: none;
  border: 2px solid #222;
  border-radius: 10px;
}